<div class="container-fluid">
  <div class="container xd-container">
    <h2>
      New Offer
    </h2>
    <form (ngSubmit)="onSubmit(ownerForm.value)" #ownerForm="ngForm" class="form-horizontal">
      <div class="form-group" hidden="true">
        <input type="text" hidden="true" class="form-control" id="id" [(ngModel)]="offer.id" name="id"/>
      </div>
      <div class="form-group has-feedback" [class.has-success]="title.dirty && title.valid" [class.has-error]="title.dirty &&  !title.valid">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" [(ngModel)]="offer.title" minlength="2" required name="title" #title="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="title.valid" [class.glyphicon-remove]="!title.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="title.dirty && title.hasError('required')">Title is required</span>
          <span class="help-block" *ngIf="title.dirty && title.hasError('minlength')">Title name must be at least 2 characters long</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="description.dirty && description.valid" [class.has-error]="description.dirty && !description.valid">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="description" [(ngModel)]="offer.description" name="description" minlength="2" required #description="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="description.valid" [class.glyphicon-remove]="!description.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="description.dirty && description.hasError('required')">Description is required</span>
          <span class="help-block" *ngIf="description.dirty && description.hasError('minlength')">Description must be at least 2 characters long</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="discount.dirty && discount.valid" [class.has-error]="discount.dirty && !discount.valid">
        <label for="discount" class="col-sm-2 control-label">Discount</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="discount" [(ngModel)]="offer.discount" name="discount" required #discount="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="discount.valid" [class.glyphicon-remove]="!discount.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="discount.dirty && discount.hasError('required')">Address is required</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="city.dirty && city.valid" [class.has-error]="city.dirty && !city.valid">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="city" [(ngModel)]="offer.city" name="city" required #city="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="city.valid" [class.glyphicon-remove]="!city.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="city.dirty && city.hasError('required')">City is required</span>
        </div>
      </div>
      <div class="form-group has-feedback" [class.has-success]="telephone.dirty && telephone.valid" [class.has-error]="telephone.dirty && !telephone.valid">
        <label for="telephone" class="col-sm-2 control-label">Telephone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="telephone" [(ngModel)]="offer.telephone" name="telephone" required maxlength="10" pattern="^[0-9]{0,10}$" #telephone="ngModel"/>
          <span class="glyphicon form-control-feedback" [class.glyphicon-ok]="telephone.valid" [class.glyphicon-remove]="!telephone.valid" aria-hidden="true"></span>
          <span class="help-block" *ngIf="telephone.dirty && telephone.hasError('required')">Phone number is required</span>
          <span class="help-block" *ngIf="telephone.dirty && telephone.hasError('maxlength')">Phone number cannot be more than 10 digits long</span>
          <span class="help-block" *ngIf="telephone.dirty && telephone.hasError('pattern')" >Phone number only accept digits</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" type="button" (click)="gotoOwnersList()">Back</button>
          <button class="btn btn-default" type="submit" [disabled]="!ownerForm.valid">Add Offer</button>
        </div>
      </div>
    </form>
  </div>
</div>